<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="InstrumentationKey" value=""/>
    <add key="TraceSwitch" value="Critical"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
  <system.diagnostics>
    <sources>
      <source name="TraceLogging">
        <listeners>
          <add name="appinsights"
             type="Microsoft.ApplicationInsights.TraceListener.ApplicationInsightsTraceListener, Microsoft.ApplicationInsights.TraceListener"/>
          <add name="console" type="System.Diagnostics.ConsoleTraceListener" />
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
</configuration>